@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  text-align: center;

  min-height: 100vh;


  background-image: url("../img/index/background-image.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #333;
  font-family: "Montserrat", sans-serif;
}

.wrap {
  display: grid;

  align-content: space-between;
  justify-content: center;

  min-height: 90vh;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 16px;
  padding-right: 16px;
}

.logo {
  display: flex;
  width: 100%;
  align-self: stretch;

  max-width: 800px;

  margin-top: min(35vh, 100px);
  align-items: center;
  justify-content: center;
}
.logo__img {
}
.logo__text {
  color: #9268bb;
  font-family: Montserrat;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}
.logo__text--big {
}

.voice-button {
}

/* ********* */

.voice-recording {
  position: relative;
  left: 0;
  right: 0;

  width: 75px;
  height: 75px;

  border-radius: 50%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;

  text-align: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
  }
}

.voice-button {
  width: 100%;
  height: 100%;

  position: relative;
  right: 7px;
  bottom: 7px;
  background-image: url("../img/index/microphone-icon.svg");

  border-radius: 100%;
  background: #8e81ed;
  border: solid 5px #c8c1f6;

  cursor: pointer;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.voice-button::before {
  content: url("../img/index/microphone-icon.svg");
  position: relative;
}

.voice-recording__icon {
  position: relative;

  background-image: url("../img/index/microphone-icon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.voice-recording.animated {
  &:before {
    animation-duration: 1.6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-name: breathe;
    -webkit-animation-name: breathe;
  }
}

.vs {
  border: solid 8px #c8c1f6;
}

@-webkit-keyframes breathe-circle {
  from {
    box-shadow: 0px 0px 0px 5px rgba(42, 47, 114, 1);
  }
  35% {
    box-shadow: 0px 0px 0px 15px rgba(42, 47, 114, 1);
  }
  50% {
    box-shadow: 0px 0px 0px 7px rgba(42, 47, 114, 1);
  }
  75% {
    box-shadow: 0px 0px 0px 10px rgba(42, 47, 114, 1);
  }
  100% {
    box-shadow: 0px 0px 0px 5px rgba(42, 47, 114, 1);
  }
}

@-webkit-keyframes breathe {
  from {
    box-shadow: 0px 0px 0px 8px rgba(42, 47, 114, 1);
  }
  10% {
    box-shadow: 0px 0px 0px 15px rgba(42, 47, 114, 1);
  }
  33% {
    box-shadow: 0px 0px 0px 7px rgba(42, 47, 114, 1);
  }
  54% {
    box-shadow: 0px 0px 0px 10px rgba(42, 47, 114, 1);
  }
  70% {
    box-shadow: 0px 0px 0px 20px rgba(42, 47, 114, 1);
  }
  100% {
    box-shadow: 0px 0px 0px 5px rgba(42, 47, 114, 1);
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo__img {
    width: 180px;
  }
  .logo__text {
    font-size: 70px;
  }
}

@media screen and (max-width: 576px) {
  .logo {
  }
  .logo__img {
    width: 150px;
  }
  .logo__text {
    font-size: 50px;
  }
}

@media screen and (max-width: 450px) {
  .logo {
  }
  .logo__img {
    width: 100px;
  }
  .logo__text {
    font-size: 35px;
  }
}
